
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

td{
  padding:8px;
}
th{
  padding:8px;
  background-color: rgb(184, 136, 136);
}

.topRow{
  background-color: rgb(184, 136, 136);
}